.DS_Store
coverage.html
*.swp

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
test-env.sh

pids
logs
results

node_modules
npm-debug.log
test/config.js
package-lock.json

coverage/
.nyc_output/
.idea
yarn.lock
