<!doctype html>
<html>

<head>
  <title>回调测试</title>
  <style>
    * { margin: 20; padding: 20; box-sizing: border-box; }
    </style>
  <script src="../../js/jquery.min.js" charset="utf-8"></script>
  <script>
    function socketC(){
      $.ajax({
        url: '/get/qncback',
        type: 'GET',
        async: false,
        success: function(data) {
          var fileName = $("#textCallBack").html("<span>"+data+"</span>");
        }
      });

      var waitUnit = new Date().getTime()+2000;
      while(waitUnit>new Date().getTime()){

      }
      socketC();
  }

    function sendPost(){
      $.ajax({
        url: '/get/qncback',
        type: 'GET',
        async: false,
        data: '{"hello":"hehe","name":"zhangwei"}',
        success: function(data) {
          var fileName = $("#textCallBack").html("<span>"+data+"</span>");
        }
      });
    }
    </script>
</head>

<body>
  <input type="button" value="发送" onclick="sendPost()"></input>
  <label id="textCallBack"></label></br>
  <input type="button" value="建立长链接" onclick="socketC()"></input>
</body>

</html>
