<!doctype html>
<html>

<head>
  <title>回调测试</title>
  <style>
  </style>
  <script src="../../js/jquery.min.js" charset="utf-8"></script>
  <script>
    var pingServer;
    function socketC(){
       pingServer=setInterval(sendPost,2000);
    }

    function stopServer(){
      clearInterval(pingServer);
    }
    function sendPost(){
      $.ajax({
        url: '/get/qncback',
        type: 'POST',
        async: true,
        success: function(data) {
          var textCallBack =   $("#textCallBack").html();
          if(data!=''){
            $("#textCallBack").append("<span>"+data+"</span></br>");
          }
        }
      });
    }
    </script>
</head>

<body onload="socketC()">
  <input type="button" value="建立长链接" onclick="socketC()"></input></br>
  <input type="button" value="停止长链接" onclick="stopServer()"></input></br>
  <div id="textCallBack"></div>
</body>

</html>
